{% extends 'main/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
{{user.username}} Update Profile
{% endblock title %}
{% block form %}
    <!-- Button trigger modal -->

<button type="button" class="btn-login update-button modal-btn">
  Update  Profile
</button>
        
<div class="update-box">
    <header><h4>{{user.username}}</h4></header>
    <div class="row">
        <div class=""><img class="img-thumbnail" src="{{user.user_profile.avatar.url}}" alt="Image not found"></div>
            <table>
                <tr>
                    <td>Username: </td>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                  <td>First name:</td>
                  <td>{{user.user_profile.first_name}}</td>
                </tr>
                <tr>
                  <td>Last name:</td>
                  <td> {{user.user_profile.last_name}} </td>
                </tr>
                <tr>
                  <td>Date of Birth:</td>
                  <td> {{user.user_profile.dob}} </td>
                </tr>
                <tr>
                  <td>Country: </td>
                  <td> {{user.user_profile.country}}</td>
                </tr>
                <tr>
                  <td>Account Created on:</td>
                  <td> {{user.user_profile.created}} </td>
                </tr>
                <tr>
                  <td>Bio:</td>
                  <td> {{user.user_profile.bio}} </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal-bg">
  <div class="modal-box">
      <h5 class="modal-title">Update Profile</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <form action="{% url 'profiles:update' slug=user.user_profile.slug %}" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {% bootstrap_form form %}
      <div class="modal-footer">
        <input type="submit" class="btn-login" value="Submit">
      </form>
      </div>  
  </div> 
</div>
{% endblock form %}