<style>
    .img-thumbnail.list{
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0%;
}
</style> 

<div class="sidebar">
    <ul >
        <li > <a class="side-menu" data-toggle="collapse" href="#mygroups" role="button" aria-expanded="false" aria-controls="collapseExample"> <i class="fas fa-users"></i>Groups </a></li>
        <div data-spy="scroll" data-offset="0" class="show" id="mygroups">
            <a href="">@fat</a>
            <br>
            <a href="">@mdo</a>
        </div>
        <li > <a class="side-menu" data-toggle="collapse" href="#myfriends" role="button" aria-expanded="false" aria-controls="collapseExample"> <i class="fas fa-user-friends"></i>Friends </a></li>
        <div data-spy="scroll" data-offset="0" class="show" id="myfriends">
            {% for user in user.user_profile.friends.all %}
            <a href=""><img src="{{user.user_profile.avatar.url}}" class="img-thumbnail list col-2" alt="">{{user}}</a>
            <br>
            {% endfor %}
        </div>
    </ul>
</div>
